
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to ical2html</h1>

  <p>This is a simple app to display iCalendar in browser. You can view example <a href="?url=https%3A%2F%2Fraw.githubusercontent.com%2Fad-m%2Fetr-warszawa-ical%2Fmaster%2F648.ics">one</a> or <a href="?url=http%3A%2F%2Fzgromadzenia-warszawa.herokuapp.com%2F">another</a> or enter URL below.</p>
  <p>
<form id="loginForm" class="form-inline" action="/">
      <div class="form-group">
        {{ form.url(placeholder="URL", class_="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary btn-xlarge">Show</button>
    </form>

  </p>
</div><!-- /.jumbotron -->
{% endblock %}

